* {
  padding: 0;
  margin: 0;
  background: #ecf0f3;
  scroll-behavior: smooth;
  color: rgb(47, 47, 48);
}

.heading {
  background: #33ccff;
  color: #fff;
  margin-top: -110px;
  padding: 3rem;
  font-size: 60px;
  border-radius: 1rem;
  box-shadow: inset 5px 5px 8px #66d9ff, inset -5px -5px 8px #00ace6;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10%;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem 1.5rem 0rem 1.5rem;
  box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff;
}

.btn{
  margin: 50px 0px -70px 0px;
}

button:hover {
  background: #fff;
}

#input {
  margin: 4rem;
  font-size: 32px;
  outline: none;
  border: none;
  text-align: center;
  padding: 0.1em;
  background: #ecf0f3;
  border-radius: 6px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.display{
  margin: auto;
  padding: 3rem;
  font-size: 50px;
  width: 3rem;
  height: 1rem;
  text-align: center;
  border-radius: 1rem;
  background: #ff3399;
  color: #fff;
  box-shadow: inset 5px 5px 8px #e60073,
            inset -5px -5px 8px #ff3399;
}
